<section class="climate-page">
    <!-- <nav class="navbar navbar-dark"> -->
    <div class="navbar-text">
        <div class="room-info pt-2 text-uppercase text-white">
            <span class="d-sm-block">Climate</span>
            <h2 class="mb-0" data-ch5-textcontent="Room.SelectedRoomName">
                Room Name
            </h2>
        </div>
    </div>
    <!-- <div class="weather-info">
    <ch5-button
      type="primary"
      shape="circle"
      class="shadow-pulse-button"
      iconClass="fas fa-cloud-sun"
      sendEventOnClick="Room.Climate.WeatherInfoBtnClicked"
    ></ch5-button>
    <ch5-modal-dialog
      receiveStateShowPulse="Room.Climate.WeatherInfoBtnClicked"
      closable
      closeIcon="fa fa-window-close"
      hideOkButton="true"
      hideCancelButton="true"
    >
      <h4><strong>INSIDE:</strong></h4>

      <div class="room-temp d-flex align-items-center">
        <h4>Room Temp: &nbsp;</h4>
        <h2 id="room-temp-index">30</h2>
        <h3 class="mr-4">ºC</h3>
        <h4>Humidity: &nbsp;</h4>
        <h2 id="humidity-index">30</h2>
        <h3>%</h3>
      </div>

      <h4 class="mt-5"><strong>OUTSIDE:</strong></h4>

      <div class="outside-temp room-temp d-flex align-items-center">
        <h4>Temp: &nbsp;</h4>
        <h2 id="">30</h2>
        <h3 class="mr-4">ºC</h3>
        <h4>Humidity: &nbsp;</h4>
        <h2 id="">60</h2>
        <h3>%</h3>
      </div>
      <div class="wind-info room-temp mt-1 d-flex align-items-center">
        <h4>Wind: &nbsp;</h4>
        <h2 id="">15</h2>
        <h3 class="mr-4">km/h &nbsp;</h3>
        <h2 id="">N/E</h2>
      </div>
    </ch5-modal-dialog>
  </div> -->

    <hr />
    <!-- </nav> -->
    <div class="climate-list-container d-sm-flex d-none justify-content-center align-items-center">
        <ch5-list size="6" orientation="horizontal" indexId="idx" receivestatesize="NumberOfRooms">
            <template>
        <div class="room-temp d-flex align-items-center">
          <span
            class="room-label"
            data-ch5-textcontent="Room[{{idx}}].RoomName"
            >Room Name</span
          >
          <div class="temp-humidity ml-auto">
            <div class="temp d-flex justify-content-end">
              <h4 class="mt-1">Room Temp: &nbsp;</h4>
              <h2 id="room-temp-index">30</h2>
              <h3 class="">ºC</h3>
            </div>
            <div class="humidity d-flex justify-content-end">
              <h4 class="mt-1">Humidity: &nbsp;</h4>
              <h2 id="humidity-index">30</h2>
              <h3>%</h3>
            </div>
          </div>
        </div>

        <div class="row">
          <div
            class="col-12 h-sm-4 align-self-start pr-0 d-flex justify-content-center align-items-center"
          >
            <div
              class="mode-buttons-container d-flex flex-column align-items-center"
            >
              <div class="align-self-start"><h3 class="">Mode</h3></div>
              <div class="mode-buttons horizontal">
                <ch5-button
                  class="shadow-pulse-button"
                  id="fan-btn"
                  label="Fan"
                  stretch="both"
                  shape="rectangle"
                  sendeventonclick="Room[{{idx}}].Mode.FanSetSelected"
                  receivestateselected="Room[{{idx}}].Mode.FanIsSelected"
                >
                </ch5-button>
                <ch5-button
                  id="auto-btn"
                  label="Cool"
                  stretch="both"
                  shape="rectangle"
                  sendeventonclick="Room[{{idx}}].Mode.CoolSetSelected"
                  receivestateselected="Room[{{idx}}].Mode.CoolIsSelected"
                >
                </ch5-button>
                <ch5-button
                  id="auto-btn"
                  label="Off"
                  stretch="both"
                  shape="rectangle"
                  sendeventonclick="Room[{{idx}}].Mode.OffSetSelected"
                  receivestateselected="Room[{{idx}}].Mode.OffIsSelected"
                >
                </ch5-button>
              </div>
            </div>
          </div>

          <!-- <div
      class="col-5 col-sm-5 order-sm-1 pr-0 d-flex justify-content-center align-items-center"
    >
      <div
        class="fan-buttons-container mt-3 d-flex flex-column align-items-center"
      >
        <div class="align-self-start"><h3 class="">Fan</h3></div>
        <div class="mode-buttons fan-buttons">
          <ch5-button
            id="fan-high-btn"
            label="High"
            shape="rectangle"
            stretch="both"
            sendeventonclick="Room.Climate.Fan.HighSetSelected"
            receivestateselected="Room.Climate.Fan.HighIsSelected"
          >
          </ch5-button>

          <ch5-button
            id="fan-medium-btn"
            label="Medium"
            shape="rectangle"
            stretch="both"
            sendeventonclick="Room.Climate.Fan.MediumSetSelected"
            receivestateselected="Room.Climate.Fan.MediumIsSelected"
          >
          </ch5-button>
          <ch5-button
            id="fan-low-btn"
            label="Low"
            shape="rectangle"
            stretch="both"
            sendeventonclick="Room.Climate.Fan.LowSetSelected"
            receivestateselected="Room.Climate.Fan.LowIsSelected"
          >
          </ch5-button>
          <ch5-button
            id="fan-off-btn"
            label="Auto"
            shape="rectangle"
            stretch="both"
            sendeventonclick="Room.Climate.Fan.AutoSetSelected"
            receivestateselected="Room.Climate.Fan.AutoIsSelected"
          >
          </ch5-button>
        </div>
      </div>
    </div> -->
          <div class="temp-column col-12">
            <div class="row">
              <div class="col-12 col-sm p-0">
                <div
                  class="temp-container d-flex align-items-center justify-content-center"
                >
                  <h1 data-ch5-textcontent="" id="temp-index">28</h1>
                  <h3>ºC</h3>
                </div>
              </div>
              <div class="col-12 col-sm p-0">
                <div class="on-off-btn plus-minus-btn">
                  <div></div>
                  <ch5-button
                    id="plus-btn"
                    label=""
                    shape="circle"
                    stretch="both"
                    iconclass="fas fa-plus"
                    onclick=""
                    sendeventonclick="Room.Climate[{{idx}}].IncrementTemp"
                  >
                  </ch5-button>

                  <ch5-button
                    id="minus-btn"
                    label=""
                    shape="circle"
                    stretch="both"
                    iconclass="fas fa-minus"
                    onclick=""
                    sendeventonclick="Room.Climate[{{idx}}].DecrementTemp"
                  >
                  </ch5-button>
                  <div></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </template>
        </ch5-list>
    </div>
</section>