<section class="climate-page">
  <!-- <nav class="navbar navbar-dark"> -->
  <div class="navbar-text">
    <div class="room-info pt-2 text-uppercase text-white">
      <span class="d-sm-block">Climate</span>
      <h2 class="mb-0" data-ch5-textcontent="Rooms.SelectedRoomName">
        Room Name
      </h2>
    </div>
  </div>
  <div class="room-temp d-flex align-items-center">
    <h4>Room Temp: &nbsp;</h4>
    <h2 id="room-temp-index">30</h2>
    <h3 class="mr-4">ºC</h3>
    <h4>Humidity: &nbsp;</h4>
    <h2 id="humidity-index">30</h2>
    <h3>%</h3>
  </div>

  <hr />
  <!-- </nav> -->
  <div class="row">
    <div
      class="col-12 h-sm-4 align-self-start pr-0 d-flex justify-content-center align-items-center"
    >
      <div class="mode-buttons-container d-flex flex-column align-items-center">
        <div class="align-self-start"><h3 class="">Mode</h3></div>
        <div class="mode-buttons horizontal">
          <ch5-button
            class="shadow-pulse-button"
            id="fan-btn"
            label="Fan"
            stretch="both"
            shape="rectangle"
            sendeventonclick="Rooms.Climate.Mode.FanSetSelected"
            receivestateselected="Rooms.Climate.Mode.FanIsSelected"
          >
          </ch5-button>
          <ch5-button
            id="auto-btn"
            label="Cool"
            stretch="both"
            shape="rectangle"
            sendeventonclick="Rooms.Climate.Mode.CoolSetSelected"
            receivestateselected="Rooms.Climate.Mode.CoolIsSelected"
          >
          </ch5-button>
          <ch5-button
            id="auto-btn"
            label="Off"
            stretch="both"
            shape="rectangle"
            sendeventonclick="Rooms.Climate.Mode.OffSetSelected"
            receivestateselected="Rooms.Climate.Mode.OffIsSelected"
          >
          </ch5-button>
        </div>
      </div>

      <!-- ON OFF Buttons -->
      <!-- <div
      class="col-6 col-sm-7 on-off-container pl-0 pr-0 d-flex justify-content-center align-items-center"
    >
      <div class="on-off-btn">
        <ch5-button
          id="on-btn"
          label="ON"
          shape="circle"
          stretch="both"
          sendeventonclick="_clicked"
        >
        </ch5-button>

        <ch5-button
          id="off-btn"
          label="OFF"
          shape="circle"
          stretch="both"
          sendeventonclick="_clicked"
        >
        </ch5-button>
      </div>
    </div> -->
    </div>

    <!-- <div
      class="col-5 col-sm-5 order-sm-1 pr-0 d-flex justify-content-center align-items-center"
    >
      <div
        class="fan-buttons-container mt-3 d-flex flex-column align-items-center"
      >
        <div class="align-self-start"><h3 class="">Fan</h3></div>
        <div class="mode-buttons fan-buttons">
          <ch5-button
            id="fan-high-btn"
            label="High"
            shape="rectangle"
            stretch="both"
            sendeventonclick="Rooms.Climate.Fan.HighSetSelected"
            receivestateselected="Rooms.Climate.Fan.HighIsSelected"
          >
          </ch5-button>

          <ch5-button
            id="fan-medium-btn"
            label="Medium"
            shape="rectangle"
            stretch="both"
            sendeventonclick="Rooms.Climate.Fan.MediumSetSelected"
            receivestateselected="Rooms.Climate.Fan.MediumIsSelected"
          >
          </ch5-button>
          <ch5-button
            id="fan-low-btn"
            label="Low"
            shape="rectangle"
            stretch="both"
            sendeventonclick="Rooms.Climate.Fan.LowSetSelected"
            receivestateselected="Rooms.Climate.Fan.LowIsSelected"
          >
          </ch5-button>
          <ch5-button
            id="fan-off-btn"
            label="Auto"
            shape="rectangle"
            stretch="both"
            sendeventonclick="Rooms.Climate.Fan.AutoSetSelected"
            receivestateselected="Rooms.Climate.Fan.AutoIsSelected"
          >
          </ch5-button>
        </div>
      </div>
    </div> -->
    <div class="temp-column col-12">
      <div class="row">
        <div class="col-12 col-sm p-0">
          <div
            class="temp-container d-flex align-items-center justify-content-center"
          >
            <!-- <div class="textinput">
              <ch5-textinput
                stretch="content"
                disabled
                type="number"
                receivestatevalue="Rooms.Climate.TempIsSet"
              >
              </ch5-textinput>
            </div> -->
            <h1 data-ch5-textcontent="" id="temp-index">28</h1>
            <h3>ºC</h3>
          </div>
        </div>
        <div class="col-12 col-sm p-0">
          <div class="on-off-btn plus-minus-btn">
            <div></div>
            <ch5-button
              id="plus-btn"
              label=""
              shape="circle"
              stretch="both"
              iconclass="fas fa-plus"
              onclick=""
              sendeventonclick="Rooms.Climate.IncrementTemp"
            >
            </ch5-button>

            <ch5-button
              id="minus-btn"
              label=""
              shape="circle"
              stretch="both"
              iconclass="fas fa-minus"
              onclick=""
              sendeventonclick="Rooms.Climate.DecrementTemp"
            >
            </ch5-button>
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
