<section class="climate-page">
  <!-- <nav class="navbar navbar-dark"> -->
  <div class="navbar-text pl-3">
    <div class="room-info mb-1 pt-3 text-uppercase text-white">
      <span class="d-sm-block">Climate</span>
      <h2 class="mb-0" data-ch5-textcontent="">Great Room</h2>
    </div>
    <div class="room-temp d-flex align-items-center">
      <h5>Room Temp: 30ºC</h5>
    </div>
  </div>

  <hr />
  <!-- </nav> -->
  <div class="row">
    <div
      class="col-12 col-sm-7 order-sm-2 h-sm-4 align-self-start pr-0 d-flex justify-content-center align-items-center"
    >
      <div class="mode-buttons-container d-flex flex-column align-items-center">
        <div class="align-self-start"><h3 class="">Mode</h3></div>
        <div class="mode-buttons horizontal">
          <ch5-button
            class="shadow-pulse-button"
            id="fan-btn"
            label="Fan"
            stretch="both"
            shape="rectangle"
            sendeventonclick=""
          >
          </ch5-button>
          <ch5-button
            id="auto-btn"
            label="Cool"
            stretch="both"
            shape="rectangle"
            sendeventonclick=""
          >
          </ch5-button>
          <ch5-button
            id="auto-btn"
            label="Off"
            stretch="both"
            shape="rectangle"
            sendeventonclick=""
          >
          </ch5-button>
        </div>
      </div>

      <!-- ON OFF Buttons -->
      <!-- <div
      class="col-6 col-sm-7 on-off-container pl-0 pr-0 d-flex justify-content-center align-items-center"
    >
      <div class="on-off-btn">
        <ch5-button
          id="on-btn"
          label="ON"
          shape="circle"
          stretch="both"
          sendeventonclick="_clicked"
        >
        </ch5-button>

        <ch5-button
          id="off-btn"
          label="OFF"
          shape="circle"
          stretch="both"
          sendeventonclick="_clicked"
        >
        </ch5-button>
      </div>
    </div> -->
    </div>

    <div
      class="col-5 col-sm-5 order-sm-1 pr-0 d-flex justify-content-center align-items-center"
    >
      <div
        class="fan-buttons-container mt-3 d-flex flex-column align-items-center"
      >
        <div class="align-self-start"><h3 class="">Fan</h3></div>
        <div class="mode-buttons">
          <ch5-button
            id="fan-high-btn"
            label="High"
            shape="rectangle"
            stretch="both"
            sendeventonclick=""
          >
          </ch5-button>

          <ch5-button
            id="fan-medium-btn"
            label="Medium"
            shape="rectangle"
            stretch="both"
            sendeventonclick=""
          >
          </ch5-button>
          <ch5-button
            id="fan-low-btn"
            label="Low"
            shape="rectangle"
            stretch="both"
            sendeventonclick=""
          >
          </ch5-button>
          <ch5-button
            id="fan-off-btn"
            label="Auto"
            shape="rectangle"
            stretch="both"
            sendeventonclick=""
          >
          </ch5-button>
        </div>
      </div>
    </div>
    <div
      class="temp-column col-7 col-sm-7 order-sm-3 offset-sm-6 offset-lg-5 align-self-start"
    >
      <div class="row">
        <div class="col-12 col-sm p-0">
          <div
            class="temp-container d-flex align-items-center justify-content-center"
          >
            <h1>23ºC</h1>
          </div>
        </div>
        <div class="col-12 col-sm p-0">
          <div class="on-off-btn plus-minus-btn">
            <div></div>
            <ch5-button
              id="plus-btn"
              label=""
              shape="circle"
              stretch="both"
              iconclass="fas fa-plus"
              sendeventonclick="btn_clicked"
            >
            </ch5-button>

            <ch5-button
              id="plus-btn"
              label=""
              shape="circle"
              stretch="both"
              iconclass="fas fa-minus"
              sendeventonclick="btn_clicked"
            >
            </ch5-button>
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
