<section id="time-weather-info" class="time-weather-info">
  <div class="time-weather-info">
    <div class="time" id="time-container">
      <span id="time" class="data"></span>
    </div>
    <div class="outside-temp room-temp d-flex hide" id="weather-container">
      <h4 class="mt-1">Temp: &nbsp;</h4>
      <h2 id="">30</h2>
      <h3 class="mr-3">ºC</h3>
      <h4 class="mt-1">Humidity: &nbsp;</h4>
      <h2 id="">60</h2>
      <h3 class="mr-3">%</h3>

      <h4 class="mt-1">Wind: &nbsp;</h4>
      <h2 id="">15</h2>
      <h3 class="mr-2">km/h &nbsp;</h3>
      <h2 id="">N/E</h2>
    </div>
  </div>
  <div class="toggle-container">
    <button class="btn btn-large toggle-btn" id="time-weather-toggle-btn">
      <i class="fas fa-cloud-sun" id="time-weather-toggle-icon"></i>
    </button>
  </div>
</section>
