<section id="room-list-templ">
  <div class="room-list-templ">
   
    <div class="dropdown left">
      
      <button
        class="btn btn-lg"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        
      >
        <i class="fas fa-home"></i>
       
      </button>
      <div
        onclick="dropDown()"
        class="dropdown-menu"
        id="rooms-dropdown"
        aria-labelledby="dropdownMenuButton"
       
      >
        <div class="row">
          <div class="col-3">

            <ch5-list
              class="ch5-custom-list"
              orientation="vertical"
              indexId="idx"
              receivestatesize="Floor[0].NumberOfFloors"
             
            >
              <template>

               <ch5-button
                  id="btn_id"
                  type="default"
                  shape="rectangle"
                  
                  
                  orientation="horizontal"
                  sendeventonclick="Floor[{{idx}}].FloorSelect"
                  sendeventontouch="btn_id_touched"
                
                  receivestatelabel="Floor[{{idx}}].NameOfFloor"
                  receivestateselected="Floor[{{idx}}].FloorIsSelected"                

                >
                </ch5-button>   
                
               
              </template> 


              
            </ch5-list>
          </div> 

          <div class="col-9">

            <ch5-list  
            class="ch5-custom-list"
            orientation="vertical"                 
            orientation="vertical"
            indexId="idx"
           
            receivestatesize="Floor[0].NumberOfRooms"
            >

            <template>
              <ch5-button
              id="btn_id"
              type="default"
              shape="rectangle"
              
              orientation="horizontal"
                sendeventonclick="Floor[0].Room[{{idx}}].RoomSelect"
                sendeventontouch="btn_id_touched"
                receivestateselected="Floor[0].Room[{{idx}}].RoomSelected"
                receivestatelabel="Floor[0].Room[{{idx}}].RoomName"
              >
              </ch5-button>
            </template>

            </ch5-list>

<!--            
            
          <div class="col-15">

            <ch5-list  
            class="ch5-custom-list"
            orientation="vertical"                 
            orientation="vertical"
            indexId="idx"
            receivestatesize="Floor[1].NumberOfRooms"
            >

            <template>
              <ch5-button
              id="btn_id"
              type="default"
              shape="rectangle"
              
              orientation="horizontal"
                sendeventonclick="Floor[1].Room[{{idx}}].RoomSelect"
                sendeventontouch="btn_id_touched"
                receivestateselected="Floor[1].Room[{{idx}}].RoomSelected"
                receivestatelabel="Floor[1].Room[{{idx}}].RoomName"
              >
              </ch5-button>
            </template>

            </ch5-list>
        


          </div> -->
        
            

          </div>

         
          
            
          
        </div>
      </div>
    </div>
    <!-- Dropdown end -->
  </div>
</section>
