<section id="room-list-templ">
  <div class="room-list-templ">
    <!-- Dropdown start -->
    <div class="dropdown left">
      <!-- <ch5-button iconurl="../../assets/img/villa_icon.svg"
        ><a
          class="btn btn-secondary"
          href="#"
          role="button"
          id="dropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        ></a
      ></ch5-button> -->
      <button
        class="btn btn-lg"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <i class="fas fa-home"></i>
        <!-- <img
          src="../../assets/img/villa_icon_3.svg"
          alt="villa-icon"
          width="30px"
        /> -->
      </button>
      <div
        onclick="dropDown()"
        class="dropdown-menu"
        id="rooms-dropdown"
        aria-labelledby="dropdownMenuButton"
      >
        <div class="row">
          <div class="col-3">
            <ch5-list
              class="ch5-custom-list"
              orientation="vertical"
              indexId="idx"
              size="2"
            >
              <template>
                <ch5-button
                  id="btn_id"
                  label="Floor {{idx}}"
                  type="default"
                  shape="rectangle"
                  size="regular"
                  stretch="both"
                  iconposition="first"
                  iconclass="iconClass"
                  orientation="horizontal"
                  sendeventonclick="Floor[{{idx}}].FloorSelect"
                  sendeventontouch="btn_id_touched"
                  receivestateselected="Floor[{{idx}}].FloorIsSelected"
                >
                </ch5-button>
                <!-- <ch5-button
                  id="btn_id"
                  label="First Floor"
                  type="default"
                  shape="rectangle"
                  size="regular"
                  stretch="both"
                  iconposition="first"
                  iconclass="iconClass"
                  orientation="horizontal"
                  sendeventonclick="Floor[{{idx}}].FloorSelect"
                  sendeventontouch="btn_id_touched"
                  receivestateselected="Floor[{{idx}}].FloorIsSelected"
                  receivestatelabel=""
                  receivestatescriptlabelhtml=""
                > -->
                </ch5-button>
                <!-- <template>
                <div id="btn_{{idx}}" >
                  <span>Floor {{idx}}</span>
                </div>
              </template> -->
              </template>
            </ch5-list>
          </div>
          <div class="col-9">
            <ch5-list receivestatesize="" orientation="vertical">
              <template>
                <ch5-button
                  id="btn_id"
                  label=""
                  type="default"
                  customClass="customClass"
                  shape="rounded-rectangle"
                  size="regular"
                  stretch="both"
                  iconposition="first"
                  iconclass="iconClass"
                  orientation="horizontal"
                  sendeventonclick="Floor[{{idx}}].Room[{{idx}}].RoomSelect"
                  sendeventontouch="btn_id_touched"
                  receivestateselected="Floor[{{idx}}].Room[{{idx}}].RoomSelected"
                  receivestatelabel="Floor[{{idx}}].Room[{{idx}}].RoomName"
                >
                </ch5-button>
              </template>
            </ch5-list>
            <!-- <a class="dropdown-item" href="#">Room 1</a>
            <a class="dropdown-item" href="#">Room 2</a>
            <a class="dropdown-item" href="#">Room 3</a>
            <a class="dropdown-item" href="#">Room 4</a> -->
          </div>
        </div>
      </div>
    </div>
    <!-- Dropdown end -->
  </div>
</section>
