<section id="room-list-templ">
  <div class="room-list-templ">
    <div class="dropdown left">
      <button
        class="btn btn-lg dropdown-btn disabled"
        type="button"
        id="roomListDropDown"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <i class="fas fa-home"></i>
      </button>
      <div
        onclick="dropDownStopPropagation()"
        class="dropdown-menu rooms-dropdown animate__animated"
        id="rooms-dropdown"
        aria-labelledby="roomListDropDown"
      >
        <div class="row list-container">
          <div class="col-5 p-0 d-flex justify-content-center">
            <div class="floors-container">
              <ch5-list
                class=""
                orientation="vertical"
                indexId="idx"
                receivestatesize="Floors.NumberOfFloors"
              >
                <template>
                  <div class="floors-btn">
                    <ch5-button
                      id="floor-btn-{{idx}}"
                      customClass="floor-btn-{{idx}}"
                      onclick="resetTransform()"
                      type="default"
                      shape="circle"
                      stretch="both"
                      orientation="horizontal"
                      sendeventonclick="Floors.Floor[{{idx}}].SetFloorSelected"
                      sendeventontouch="Floors.Floor[{{idx}}].SetFloorSelected"
                      receivestatelabel="Floors.Floor[{{idx}}].NameOfFloor"
                      receivestateselected="Floors.Floor[{{idx}}].FloorIsSelected"
                    >
                    </ch5-button>
                  </div>
                </template>
              </ch5-list>
            </div>
          </div>

          <div class="col-6 pr-0 rooms-container">
            <ch5-list
              class=""
              orientation="vertical"
              indexId="idx"
              receivestatesize="Rooms.NumberOfRooms"
              scrollbar="false"
            >
              <template>
                <div class="rooms-btn">
                  <ch5-button
                    id=""
                    class="room-btn"
                    customClass="room-btn-{{idx}}"
                    onclick="closeRoomsDropdown()"
                    type="default"
                    shape="rectangle"
                    orientation="horizontal"
                    stretch="both"
                    sendeventonclick="Rooms.Room[{{idx}}].SetRoomSelected"
                    sendeventontouch=""
                    receivestatelabel="Rooms.Room[{{idx}}].RoomName"
                    receivestateshow="Rooms.Room[{{idx}}].RoomSelect"
                    receivestateselected="Rooms.Room[{{idx}}].RoomIsSelected"
                  >
                  </ch5-button>
                </div>
              </template>
            </ch5-list>
          </div>
        </div>
      </div>
    </div>
    <!-- Dropdown end -->
  </div>
</section>
