<section id="inactivity-page" class="inactivity-page">
  <div class="row">
    <div class="col-12 time-container d-flex justify-content-center">
      <h1 id="inactivity-page-time" class="data"></h1>
    </div>
    <div class="col-12 date-container d-flex justify-content-center">
      <span id="inactivity-page-date" class="data"></span>
    </div>
    <div class="col-12 room-temp-container d-flex justify-content-center">
      <h4 class="mt-1">Room Temp: &nbsp;</h4>
      <h2 id="room-temp-index">30</h2>
      <h3 class="mr-3">ºC</h3>
      <h4 class="mt-1">Humidity: &nbsp;</h4>
      <h2 id="humidity-index">30</h2>
      <h3>%</h3>
    </div>
    <hr />
    <div class="col-12 weather-container d-flex justify-content-center">
      <h4 class="mt-1">Outside Temp: &nbsp;</h4>
      <h2 id="">30</h2>
      <h3 class="mr-3">ºC</h3>
      <h4 class="mt-1">Humidity: &nbsp;</h4>
      <h2 id="">60</h2>
      <h3 class="mr-3">%</h3>
      <h4 class="mt-1">Wind: &nbsp;</h4>
      <h2 id="">15</h2>
      <h3 class="mr-2">km/h &nbsp;</h3>
      <h2 id="">N/E</h2>
    </div>
  </div>
</section>
