<section class="details-container">
  <div class="navbar-text">
    <div class="room-info mb-1 pt-2 text-uppercase text-white">
      <span class="d-sm-block">TV</span>
      <h2 class="mb-0" data-ch5-textcontent="Rooms.SelectedRoomName">
        Room Name
      </h2>
    </div>
  </div>
  <hr />
  <ch5-list
    class="source-list"
    indexId="idx"
    size="4"
    maxWidth="1000px"
    receiveStateSize="SourceList.NumberOfSources"
    orientation="horizontal"
  >
    <template>
      <div class="horizontal-list-item">
        <ch5-button
          customClass="source-btn-{{idx}}"
          class="d-block"
          type="text"
          shape="rectangle"
          receivestatelabel="SourceList.Sources[{{idx}}].NameOfSource"
          receivestateiconclass="SourceList.Sources[{{idx}}].IconClassOfSource"
          iconPosition="top"
          receiveStateSelected="SourceList.Sources[{{idx}}].SourceIsSelected"
          sendEventOnClick="SourceList.Sources[{{idx}}].SetSourceSelected"
        ></ch5-button>
      </div>
    </template>
  </ch5-list>
</section>
