<section class="blinds-page">
  <div class="navbar-text pl-3">
    <div class="room-info mb-1 pt-3 text-uppercase text-white">
      <span class="d-sm-block">Blinds</span>
      <h2 class="mb-0" data-ch5-textcontent="">Great Room</h2>
    </div>
  </div>
  <div class="blackout-shades-btn">
    <ch5-button
      selected="false"
      id="shades-btn"
      label="Shades"
      size="large"
      shape="rectangle"
      sendeventonclick="trig_shades"
      receiveStateSelected="show_shades"
    >
    </ch5-button>
    <ch5-button
      id="blackout-btn"
      label="Blackout"
      size="large"
      shape="rectangle"
      sendeventonclick="trig_blackout"
      receiveStateSelected="show_blackout"
    >
    </ch5-button>
  </div>

  <hr />
  <ch5-triggerview activeview="0">
    <ch5-triggerview-child receivestateshow="show_shades">
      <ch5-import-htmlsnippet
        url="./components/shades/shades.html"
        class="shades-templ"
      >
      </ch5-import-htmlsnippet>
    </ch5-triggerview-child>
    <ch5-triggerview-child receivestateshow="show_blackout">
      <ch5-import-htmlsnippet
        url="./components/blackout/blackout.html"
        class="blackout-templ"
      >
      </ch5-import-htmlsnippet>
    </ch5-triggerview-child>
  </ch5-triggerview>
</section>
