<section class="blinds-page">
  <div class="navbar-text pl-3">
    <div class="room-info mb-1 pt-3 text-uppercase text-white">
      <span class="d-sm-block">Blinds</span>
      <h2 class="mb-0" data-ch5-textcontent="Room.NameOfRoom">Great Room</h2>
    </div>
  </div>
  <hr />
  <!-- show vertical list when below large -->
  <div
    class="blinds-list-container d-flex d-lg-none justify-content-center align-items-center"
  >
    <ch5-list size="3" orientation="vertical">
      <template>
        <div class="slider-container container">
          <ch5-slider> </ch5-slider>
        </div>
      </template>
    </ch5-list>
  </div>
  <div
    class="blinds-list-container d-lg-flex d-none justify-content-center align-items-center"
  >
    <ch5-list size="6" orientation="horizontal">
      <template>
        <div class="slider-container container">
          <ch5-slider> </ch5-slider>
        </div>
      </template>
    </ch5-list>
  </div>
</section>
