<section class="blinds-page">
  <div class="navbar-text pl-3">
    <div class="room-info mb-1 pt-3 text-uppercase text-white">
      <span class="d-sm-block">Blinds</span>
      <h2 class="mb-0" data-ch5-textcontent="Room.NameOfRoom">Great Room</h2>
    </div>
  </div>
  <hr />
  <!-- show vertical list when below large -->
  <div
    class="blinds-list-container d-flex d-lg-none justify-content-center align-items-center"
  >
    <ch5-list size="3" orientation="vertical">
      <template>
        <div class="slider-container container">
          <ch5-slider min="0" max="100" receivestatevalue="receive_blind_value">
          </ch5-slider>
        </div>
        <div class="flex justify-content-center">
          <ch5-button
            id="open_blind"
            label="Open"
            shape="circle"
            sendeventonclick="open_blind"
          >
          </ch5-button>
          <ch5-button
            id="stop_blind"
            label="Stop"
            shape="circle"
            sendeventonclick="stop_blind"
          >
          </ch5-button>
          <ch5-button
            id="close_blind"
            label="Close"
            shape="circle"
            sendeventonclick="close_blind"
          >
          </ch5-button>

      </template>
    </ch5-list>
  </div>
  <div
    class="blinds-list-container d-lg-flex d-none justify-content-center align-items-center"
  >
    <ch5-list size="6" orientation="horizontal">
      <template>
        <div class="slider-container container">
          <ch5-slider min="0" max="100" receivestatevalue="receive_blind_value">
          </ch5-slider>
        </div>
        <div class="flex justify-content-center">
          <ch5-button
            id="open_blind"
            label="Open"
            shape="circle"
            sendeventonclick="open_blind"
          >
          </ch5-button>
          <ch5-button
            id="stop_blind"
            label="Stop"
            shape="circle"
            sendeventonclick="stop_blind"
          >
          </ch5-button>
          <ch5-button
            id="close_blind"
            label="Close"
            shape="circle"
            sendeventonclick="close_blind"
          >
          </ch5-button>
        </div>
      </template>
    </ch5-list>
  </div>
</section>
