<section id="intercom-page" class="intercom-page">
  <div class="navbar-text">
    <div class="room-info mb-1 pt-2 text-uppercase text-white">
      <span class="d-sm-block">Intercom</span>
      <h2 class="mb-0" data-ch5-textcontent="Rooms.SelectedRoomName">
        Room Name
      </h2>
    </div>
  </div>
  <div id="dnd-btn-container" class="dnd-btn-container">
    <div class="dnd-btn">
      <div>
        <ch5-triggerview
          class="triggerview-container"
          gestureable="false"
          noshowtype="display"
          disableanimation="true"
          receivestateshowchildindex="Rooms.Intercom.DNDtriggerview"
        >
          <ch5-triggerview-child noshowtype="display">
            <ch5-button
              id="dnd-on"
              label="DND"
              shape="circle"
              stretch="both"
              receivestateselected=""
              sendeventonclick="Rooms.Intercom.SetDNDon"
            >
            </ch5-button>
          </ch5-triggerview-child>

          <ch5-triggerview-child noshowtype="display">
            <ch5-button
              id="dnd-off"
              label="✖︎"
              shape="circle"
              stretch="both"
              receivestateselected=""
              sendeventonclick="Rooms.Intercom.SetDNDoff"
            >
            </ch5-button>
          </ch5-triggerview-child>
        </ch5-triggerview>
      </div>
    </div>
    <img
      id="dnd-img"
      class="dnd-img invisible animate__animated"
      src="./assets/img/intercom/do-not-disturb.png"
      alt="do-not-disturb-img"
    />
  </div>
  <div class="main-intercom-container container-fluid">
    <div class="row">
      <div class="col-12 col-sm-7 video-container">
        <img
          class="intercom-img"
          src="./assets/img/intercom/intercom-img.jpg"
          alt="intercom-img"
        />
        <!-- <ch5-video
            indexid="idx"
            aspectratio="16:9"
            controls="false"
            size="large"
            sourcetype="Network"
            zindex="0"
            url="./assets/img/intercom/video.mov"
            stretch="true"
            snapshotrefreshrate=""
            receivestatesourcetype=""
            receivestateuserid=""
            receivestatepassword=""
            receivestatesnapshoturl="Rooms.Intercom.ImageUrlOfIntercom"
            receivestatesnapshotrefreshrate=""
            receivestatesnapshotuserid=""
            receivestatesnapshotpassword=""
            receivestateplay=""
            receivestateselect="Rooms.Intercom.SelectedCamera"
            receivestateurl="Rooms.Intercom.VideoUrl"
            receivestatevideocount="Rooms.Intercom.NumberOfCameras"
            sendeventonclick=""
            sendeventstate=""
            sendeventselectionurl=""
            sendeventerrorcode=""
            sendeventerrormessage=""
            sendeventsnapshoturl=""
            sendeventselectionsourcetype=""
            sendeventselectionchange=""
            sendeventretrycount=""
            sendeventsnapshotlastupdatetime=""
            sendeventresolution=""
            sendeventsnapshotstatus=""
            debug
          >
          </ch5-video> -->
      </div>

      <div class="control-btn-container col-12 col-sm-5">
        <!-- <img src="./assets/img/intercom/intercom-img.jpg" alt=""> -->
        <div class="phone-btn-container">
          <ch5-button
            class="green-phone phone-btn"
            stretch="both"
            sendeventonclick=""
            iconurl="./assets/img/intercom/phone-outline.svg"
          ></ch5-button>
          <ch5-button
            class="phone-btn lock-btn"
            stretch="both"
            iconurl="./assets/img/intercom/lock.svg"
          >
          </ch5-button>
          <ch5-button
            class="red-phone phone-btn"
            stretch="both"
            sendeventonclick=""
            iconurl="./assets/img/intercom/phone-outline.svg"
          ></ch5-button>
        </div>
        <div class="volume-btn-container">
          <ch5-button
            class="camera-btn"
            stretch="both"
            sendeventonclick=""
            iconclass="fas fa-video"
          ></ch5-button>
          <div></div>
          <div></div>
          <ch5-button
            class="volume-btn"
            stretch="both"
            iconclass="fas fa-volume-down"
          >
          </ch5-button>
          <ch5-button
            class="volume-btn"
            stretch="both"
            sendeventonclick=""
            iconclass="fas fa-volume-up"
          ></ch5-button>
        </div>
      </div>
    </div>
  </div>
</section>
