// variables
$ch5-dark-primary: darken(#6798ad, 10%) !default;
$ch5-dark-default: darken(rgb(151, 151, 151), 10%) !default;
$ch5-dark-secondary: darken(#497cc4, 10%) !default;
$ch5-dark-success: darken(#01c851, 10%) !default;
$ch5-dark-info: darken(#00af99, 10%) !default;
$ch5-dark-warning: darken(#ff8800, 10%) !default;
$ch5-dark-danger: darken(#ff3548, 10%) !default;
$ch5-dark-purple: darken(#aa66cc, 10%) !default;
$ch5-dark-white: darken(#efefef, 60%) !default;
$ch5-white: #fff !default;
$ch5-black: #000 !default;

// headind colors
$ch5-headings-color-dark: darken(#fff, 10%) !default;
$ch5-desc-color-dark: #adb5bd !default;

// navbar
$ch5-dark-navbar-bg: darken(#343a40, 5%);
$ch5-dark-navbar-default-bg: $ch5-black !default;
$ch5-dark-navbar-default-color: $ch5-white !default;
$ch5-dark-navbar-default-active-color: $ch5-dark-primary !default;

// buttons pressed color
$ch5-dark-btn-primary-pressed: darken(#228cb9, 10%) !default;
$ch5-dark-btn-default-pressed: darken(#3f3f3f, 10%) !default;
$ch5-dark-btn-secondary-pressed: darken(#2e2e70, 10%) !default;
$ch5-dark-btn-success-pressed: darken(#009e3f, 10%) !default;
$ch5-dark-btn-info-pressed: darken(#007263, 10%) !default;
$ch5-dark-btn-warning-pressed: darken(#be6600, 10%) !default;
$ch5-dark-btn-danger-pressed: darken(#b12634, 10%) !default;

// ch5 gradient button color
$ch5-dark-gradient-btn-peach: (
  darken(#ff6d63, 10%),
  darken(#ffcb71, 10%)
) !default;
$ch5-dark-gradient-btn-purple: (
  darken(#aa66cc, 10%),
  darken(#f06ec6, 10%)
) !default;
$ch5-dark-gradient-btn-blue: (
  darken(#1c5099, 10%),
  darken(#29abe2, 10%)
) !default;
$ch5-dark-gradient-btn-aqua: (
  darken(#00e499, 10%),
  darken(#1ca3f4, 10%)
) !default;

// bottom navigation
$bottom-nav-bg-dark: #000 !default;
$bottom-nav-item-bg-dark: darken(#959595, 10%) !default;

// container background
$ch5-examples-bg-dark: darken(#424951, 5%) !default;

// sidebar theme
$sidebar-dark-bg: darken(rgba(#343a40, 0.4), 5%) !default;
$sidebar-dark-title-bg: darken(rgba(#495057, 0.6), 5%) !default;
$sidebar-dark-action-bg: darken(rgba(#495057, 0.5), 5%) !default;
$sidebar-dark-action-hover: darken(rgba(#495057, 0.8), 5%) !default;
$sidebar-dark-action-selected-color: darken(#495057, 5%) !default;
$sidebar-dark-action-selected-bg: rgba(#fff, 0.7) !default;

// lighting page
$ch5-lighting-btn-dark: darken(#57606b, 5%) !default;

// music page
$music-icon-bg-dark: rgba(133, 133, 133, 0.856);

// container background
$ch5-container-dark-bg: #404040;

// gradient animation colors
$ch5-dark-gradient-animate: (
  rgba($ch5-container-dark-bg, 0),
  rgba($ch5-container-dark-bg, 0.3),
  rgba(#80bae8, 0),
  rgba(#7db9e8, 0)
) !default;

// news feed
$news-feed-dark-bg: darken($ch5-container-dark-bg, 5%) !default;
$news-feed-dark-desc: darken($ch5-white, 10%) !default;

// routing page
$ch5-routing-btn-selected-dark-bg: $ch5-dark-primary !default;
$ch5-routing-btn-selected-dark-color: $ch5-white !default;

// map merging
$ch5-dark-theme-colors: () !default;
$ch5-dark-theme-colors: map-merge(
  (
    "primary": (
      $ch5-dark-primary,
      $ch5-dark-btn-primary-pressed,
    ),
    "default": (
      $ch5-dark-default,
      $ch5-dark-btn-default-pressed,
    ),
    "secondary": (
      $ch5-dark-secondary,
      $ch5-dark-btn-secondary-pressed,
    ),
    "success": (
      $ch5-dark-success,
      $ch5-dark-btn-success-pressed,
    ),
    "info": (
      $ch5-dark-info,
      $ch5-dark-btn-info-pressed,
    ),
    "warning": (
      $ch5-dark-warning,
      $ch5-dark-btn-warning-pressed,
    ),
    "danger": (
      $ch5-dark-danger,
      $ch5-dark-btn-danger-pressed,
    ),
  ),
  $ch5-dark-theme-colors
);

$ch5-dark-gradient-buttons: () !default;
$ch5-dark-gradient-buttons: map-merge(
  (
    "peach": $ch5-dark-gradient-btn-peach,
    "purple": $ch5-dark-gradient-btn-purple,
    "blue": $ch5-dark-gradient-btn-blue,
    "aqua": $ch5-dark-gradient-btn-aqua,
  ),
  $ch5-dark-gradient-buttons
);

// my buttons

$gradient-btn-dark: linear-gradient(-45deg, #2c3136, #8693a7);

$gradient-btn-pressed-dark: linear-gradient(-45deg, #8492a5, #2a2e33);

.dark-theme {
  // hr color
  hr {
    border-color: $ch5-dark-white;
  }

  // Contextual colors
  .text-primary {
    color: $ch5-dark-primary !important;
  }

  .text-success {
    color: $ch5-dark-success !important;
  }

  .text-warning {
    color: $ch5-dark-warning !important;
  }

  .text-purple {
    color: $ch5-dark-purple !important;
  }

  // navbars
  .navbar-dark {
    background-color: $ch5-dark-navbar-bg;

    &.navbar-default {
      &,
      .navbar-nav {
        background-color: $ch5-dark-navbar-default-bg;
      }

      .btn-link,
      .navbar-nav .nav-link {
        color: $ch5-dark-navbar-default-color;
      }

      .active,
      .navbar-nav .active a {
        color: $ch5-dark-navbar-default-active-color;
      }
    }
  }

  // buttons theme
  .ch5-button {
    @each $color, $value in $ch5-dark-theme-colors {
      &--#{$color} {
        @include ch5-button-variant(
          nth($value, 1),
          nth($value, 1),
          nth($value, 2)
        );
      }
    }
  }

  // outline buttons
  .outline-button {
    border: 2px solid;

    &.ch5-button {
      @each $color, $value in $ch5-dark-theme-colors {
        &--#{$color} {
          @include ch5-button-outline-variant(nth($value, 1), transparent);
        }
      }
    }
  }

  // gradient buttons
  .ch5-button {
    &.gradient-button {
      @each $color, $value in $ch5-dark-gradient-buttons {
        &--#{$color} {
          @include ch5-button-gradient-variant(
            nth($value, 1),
            nth($value, 2),
            #fff,
            #424242
          );
        }
      }
    }
  }

  // gradient button animation bg
  .contentGlint:after {
    background: linear-gradient(
      135deg,
      nth($ch5-dark-gradient-animate, 1) 0%,
      nth($ch5-dark-gradient-animate, 2) 50%,
      nth($ch5-dark-gradient-animate, 3) 99%,
      nth($ch5-dark-gradient-animate, 4) 100%
    );
  }

  // bottom navigation
  .swiper-thumb {
    background-color: $bottom-nav-bg-dark;

    .list-item ch5-button .ch5-button {
      background-color: $bottom-nav-item-bg-dark;
    }
  }

  .thumb-action svg {
    fill: $ch5-dark-navbar-default-active-color;
  }

  // listing page
  .contact-detail {
    background-color: $news-feed-dark-bg;
    border-color: $ch5-dark-white;
  }

  .custom-list-group {
    &,
    .list-group-item {
      background-color: $news-feed-dark-bg;
      border-color: $ch5-dark-white;
      color: $ch5-white;
    }

    .list-group-item.active {
      border-color: $ch5-dark-primary;
    }
  }

  // source
  .source-list .list-item .ch5-button {
    background-color: $news-feed-dark-bg;
    border-color: $ch5-dark-white;
    color: $ch5-white;

    &--selected {
      background-color: darken($news-feed-dark-bg, 7%);
      border-width: 2px !important;
      border-color: #0099ff;
    }
  }

  // container bg colors
  .examples-container {
    background-color: $ch5-examples-bg-dark;
  }

  // sidebar theme
  .sidebar {
    background-color: $sidebar-dark-bg;

    .action-group {
      color: $white;

      .title {
        background-color: $sidebar-dark-title-bg;
      }

      .ch5-button {
        background-color: $sidebar-dark-action-bg;

        &:hover {
          background-color: $sidebar-dark-action-hover;
        }

        &.ch5-button--selected {
          background-color: $sidebar-dark-action-selected-bg;
          color: $sidebar-dark-action-selected-color;
        }
      }
    }

    .ch5-select__panel__items {
      .ch5-select__panel__item {
        &:hover {
          background-color: $sidebar-dark-action-hover;
        }

        &.ch5-select__panel__item--selected {
          background-color: $sidebar-dark-action-selected-bg;
          color: $sidebar-dark-action-selected-color;
        }
      }
    }

    @include media-breakpoint-down(sm) {
      background-color: rgba(#343a40, 0.9);
    }
  }

  // room list (drop down menu)
  .room-list-templ {
    .dropdown-menu {
      background-color: rgba(43, 43, 43, 0.9);
    }
    .dropdown-btn {
      border: none;
      // background-color: rgba(94, 94, 94, 0.863);
      background-color: transparent;

      color: #aaaaaa;
    }

    .floors-container {
      background-color: $ch5-lighting-btn-dark;
    }

    ch5-list {
      .list-item {
        background-color: transparent;
      }
    }
    .ch5-button {
      color: rgb(29, 29, 29);
    }
    .floors-btn {
      .ch5-button {
        background: linear-gradient(-45deg, #32373d, #94a3b8);

        // background-color: $ch5-lighting-btn-light;

        &.ch5-button--selected {
          background: linear-gradient(-45deg, #94a3b8, #32373d);

          box-shadow: 0px 0px 4px 2px rgb(255, 255, 255);

          color: rgb(255, 255, 255);
        }
      }
    }
    .rooms-btn {
      .ch5-button {
        background-color: $ch5-lighting-btn-dark;
        box-shadow: 0px -7px 11px 1px rgb(172, 172, 172);
        &.ch5-button--selected {
          color: rgb(255, 255, 255);

          // margin-top: 0.5rem !important;
        }
      }
    }
  }

  // time-weather-info (the toggle info line in the navbar)

  .time-weather-info {
    .time {
      span {
        // color: #aaaaaa;
        color: rgba(139, 139, 139, 0.938);
      }
    }
    .outside-temp {
      h4 {
        color: rgba(139, 139, 139, 0.938);
      }
      h2,
      h3 {
        color: #adadad;
      }
    }
    button {
      &.toggle-btn {
        color: #aaaaaa;
      }
    }
  }

  // menu (dropdown)
  .menu {
    .dropdown-menu {
      background: rgba(43, 43, 43, 0.993);
      .dropdown-item {
        color: #aaaaaa;
        &:active {
          // background-color: $ch5-light-navbar-bg;
          background-color: transparent;
        }
        &:focus {
          background-color: rgba(63, 63, 63, 0.993);
        }
      }
    }
    .menu-dropdown-btn {
      color: #aaaaaa;
    }
    .btn-link {
      color: $ch5-dark-navbar-default-color;
    }
    .version-info {
      .ch5-button {
        background-color: rgba(61, 61, 61, 0.993);
      }
    }
  }

  // blinds page
  .blinds-page {
    span.window-label {
      color: rgba(255, 255, 255, 0.699);
    }
    .open-close-btn {
      .ch5-button {
        background: $gradient-btn-dark;
        // background: linear-gradient(-45deg, #2c3136, #8693a7);
        box-shadow: 0 0 5px rgb(102, 102, 102);
        // background-color: $ch5-lighting-btn-dark;
        // border: none;
      }
      .ch5-button--pressed {
        background: $gradient-btn-pressed-dark;
        // background: linear-gradient(-45deg, #8492a5, #2a2e33);
        box-shadow: 0px 0px 15px rgb(156, 156, 156);
        // border: none;
        transform: translateY(1px);
      }
    }

    .blackout-shades-btn {
      .ch5-button {
        background-color: transparent;
        border: none;
        box-shadow: 0px 0px 4px 2px rgb(156, 156, 156);
        color: rgba(255, 255, 255, 0.74);
      }
      .ch5-button.ch5-button--selected {
        background: $gradient-btn-dark;
        // background-color: $ch5-lighting-btn-dark;
        box-shadow: none;
        // box-shadow: 0 1px 1px rgb(102, 102, 102);
        transform: translateY(2px);

        border: none;
        color: rgb(255, 255, 255);
      }
    }
  }

  // lighting page
  // ch5 list

  .lighting-page {
    .examples-container {
      span {
        &.label {
          color: rgba(139, 139, 139, 0.938);
        }
      }
    }
  }

  ch5-list.ch5-custom-list {
    .ch5-button--default.ch5-button--pressed {
      background-color: $sidebar-dark-action-hover;
    }

    .ch5-list-vertical > div:nth-child(odd),
    .ch5-list-horizontal > div:nth-child(odd) {
      background-color: $sidebar-dark-bg;
    }

    ch5-button.lighting-button {
      .ch5-button.ch5-button--default {
        background-color: $ch5-lighting-btn-dark;
      }

      & ~ ch5-button.lighting-button .ch5-button.ch5-button--default {
        background-color: transparent;
      }
    }
  }

  // climate page
  .climate-page {
    .weather-info {
      .ch5-button {
        background-color: $ch5-lighting-btn-dark;
      }
    }
    .ch5-modal-dialog {
      background-color: #383838fa;
      .ch5-modal-dialog-close-icon-btn {
        background-color: #383838fa;
      }
    }

    .room-temp {
      h4 {
        color: rgba(139, 139, 139, 0.938);
      }
      h2,
      h3 {
        color: #adadad;
      }
    }
    span.room-label {
      color: rgba(247, 247, 247, 0.699);
    }
    .mode-buttons-container,
    .fan-buttons-container {
      background-color: $ch5-dark-navbar-bg;
      box-shadow: 0px 2px 7px rgb(124, 124, 124);
    }
    .plus-minus-btn {
      .ch5-button {
        background: $gradient-btn-dark;
        // background-color: $ch5-lighting-btn-light;
        box-shadow: 0 0 5px rgb(102, 102, 102);
      }
      .ch5-button--pressed {
        background: $gradient-btn-pressed-dark;
        box-shadow: 0px 0px 15px rgb(156, 156, 156);
        // box-shadow: 1px 1px 3px rgb(58, 57, 57);
        transform: translateY(1px);
      }
    }
    .mode-buttons {
      .ch5-button {
        background: $gradient-btn-dark;
        // box-shadow: 0px 0px 4px rgb(156, 156, 156);
        // opacity: 0.9;
        color: rgba(0, 0, 0, 0.842);
      }
      .ch5-button--selected {
        // background: $gradient-btn-pressed-dark;
        background: linear-gradient(-45deg, #454c57, #3d4249);
        opacity: 1;
        color: rgb(255, 255, 255);
        transform: translateY(2px);
        // box-shadow: 0px 0px 10px rgb(156, 156, 156);
      }
    }
    .temp-container {
      border-color: #4f798b;
      background-color: #203138;
      box-shadow: inset 10px -7px 20px rgba(110, 110, 110, 0.6);
    }

    // ON-OFF buttons (not used currently)

    // #on-btn {
    //   .ch5-button--default {
    //     background-color: rgb(108, 172, 111);
    //     opacity: 1;
    //   }
    //   .ch5-button--pressed {
    //     background-color: rgb(48, 104, 49);
    //   }
    // .ch5-button--selected {
    //   background-color: rgb(73, 100, 73);
    // }
    //   }
    //   #off-btn {
    //     .ch5-button--default {
    //       background-color: rgb(168, 105, 105);
    //       opacity: 1;
    //     }
    //     .ch5-button--pressed {
    //       background-color: rgb(105, 51, 51);
    //     }
    //   }
  }

  // music page

  .music-page {
    .dropdown-btn-container {
      button {
        background-color: $ch5-lighting-btn-dark;
        box-shadow: 0px 0px 3px 1px rgb(156, 156, 156);
        color: rgb(212, 212, 212);
      }
    }
    .source-name {
      color: $music-icon-bg-dark;
    }
    .main-player-container {
      background-color: $ch5-dark-navbar-bg;
      box-shadow: 0px 3px 9px 2px rgb(124, 124, 124);
    }
    .artist-album-name {
      h2,
      h3 {
        color: rgb(173, 173, 173);
      }

      i {
        color: $music-icon-bg-dark;
      }
    }
    .song-name-container {
      button {
        background-color: transparent;
        color: $music-icon-bg-dark;
      }
    }
    .track-slider {
      span {
        color: $music-icon-bg-dark;
      }
      .ch5-slider {
        // .noUi-connect {
        //   background-color: rgb(102, 145, 153);
        // }
        .noUi-handle {
          background-color: rgb(207, 207, 207);
        }
        &.ch5-slider--pressed {
          .noUi-connect {
            background-color: rgb(87, 120, 126);
          }
          .noUi-handle {
            background-color: rgb(252, 252, 252);
          }
        }
      }
    }
    .volume-slider-container {
      i {
        color: $music-icon-bg-dark;
      }
      .ch5-slider {
        .noUi-connect {
          background-color: $ch5-lighting-btn-light;
          // background-color: rgb(99, 99, 99);
        }
        .noUi-handle {
          background-color: rgb(207, 207, 207);
          border: none;
        }
        &.ch5-slider--pressed {
          .noUi-connect {
            background-color: rgb(82, 82, 82);
          }
        }
      }
    }
    .song-list-sidebar {
      background-color: $ch5-lighting-btn-dark;

      // background-color: $sidebar-dark-bg;
      // background-color: rgba(61, 67, 73, 0.8);

      @include media-breakpoint-down(xs) {
        border-bottom-color: rgba(2, 2, 2, 0.89);
      }
      .song-select-features {
        background-color: rgba(2, 2, 2, 0.877);
        .ch5-button {
          color: rgba(190, 190, 190, 0.849);

          &.ch5-button--selected {
            color: $ch5-dark-primary;
          }
        }
      }
      .ch5-select__panel__items {
        .ch5-select__panel__item--selected {
          // background-color: $sidebar-dark-bg;
          background-color: $ch5-dark-navbar-bg;
        }
      }

      .song-select {
        .ch5-select__panel__item {
          border-top-color: rgb(134, 134, 134);
        }
        h3,
        h4 {
          color: rgb(148, 148, 148);
        }
      }
    }
  }

  // intercom page
  .intercom-page {
    .main-intercom-container {
      background-color: $ch5-dark-navbar-bg;
      box-shadow: 0px 3px 9px 2px rgb(124, 124, 124);
    }
    .dnd-btn-container {
      .dnd-btn {
        .ch5-button {
          background: $gradient-btn-dark;
          box-shadow: 0 0 5px rgb(102, 102, 102);
        }
        .ch5-button--default {
          box-shadow: none;
        }
        .ch5-button--pressed {
          background: $gradient-btn-pressed-dark;
          box-shadow: 0px 0px 15px rgb(156, 156, 156);
        }
      }
      img {
        filter: invert(55%) opacity(1);
        -webkit-filter: invert(55%) opacity(1);
      }
    }
    .phone-btn-container {
      .green-phone {
        .ch5-button {
          svg {
            fill: #006f65;
          }
        }
      }
      .red-phone {
        .ch5-button {
          svg {
            fill: #850000;
          }
        }
      }
      .lock-btn {
        .ch5-button {
          svg {
            fill: #b1b1b1;
          }
        }
      }
    }
    .volume-btn-container {
      .ch5-button {
        i {
          color: $music-icon-bg-dark;
        }
      }
    }
  }

  // slider
  .ch5-slider {
    .noUi-connect {
      background-color: $ch5-dark-primary;
    }

    &.ch5-slider--orientation--vertical .noUi-target {
      background: linear-gradient(
        rgba($ch5-white, 0.08),
        rgba($ch5-black, 0.08) 33%
      );
      border-color: rgba($ch5-white, 0.1);
    }

    &.ch5-slider--orientation--horizontal .noUi-target {
      background: linear-gradient(
        to left,
        rgba($ch5-white, 0.08),
        rgba($ch5-black, 0.08) 33%
      );
      border-color: rgba($ch5-white, 0.1);
    }
  }

  // container background
  .main-section .theme-bg {
    background-color: $ch5-container-dark-bg;
    color: $ch5-white;
  }

  .details-container {
    color: $ch5-white;
  }

  ::-webkit-scrollbar-track {
    background-color: $ch5-container-dark-bg;
  }

  // heading
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    color: $ch5-headings-color-dark;
  }

  .desc-title {
    color: $ch5-desc-color-dark;
  }

  // routing page
  .routing-backdrop {
    .routing-hr {
      background: -webkit-gradient(
        linear,
        0 0,
        100% 0,
        from(transparent),
        to(transparent),
        color-stop(10%, $ch5-white)
      );
    }

    .routing-text {
      color: rgba($ch5-white, 1);
    }

    .routing-action-group {
      .btn-group .ch5-button {
        color: $ch5-white;

        &.ch5-button--selected {
          background-color: $ch5-routing-btn-selected-dark-bg;
          color: $ch5-routing-btn-selected-dark-color;
        }
      }
    }
  }

  // webservices
  .newsfeed-group .list-group-item {
    background-color: $news-feed-dark-bg;
    box-shadow: none;

    article {
      color: $news-feed-dark-desc;
    }
  }
}
