// variables
// $ch5-light-primary: #4f8faa !default;
$ch5-light-primary: rgb(102, 145, 153) !default;
$ch5-light-default: #333 !default;
$ch5-light-secondary: #1c5099 !default;
$ch5-light-success: #01c851 !default;
$ch5-light-info: #00af99 !default;
$ch5-light-warning: #ff8800 !default;
$ch5-light-danger: #ff3548 !default;
$ch5-light-purple: #aa66cc !default;
$ch5-white: #fff !default;
$ch5-black: #000 !default;

// headind colors
$ch5-headings-color-light: #212529 !default;
$ch5-desc-color-light: #6c757d !default;

// navbar
$ch5-light-navbar-bg: #afafaf !default;
$ch5-light-navbar-default-bg: #efefef !default;
$ch5-light-navbar-default-color: $ch5-black !default;
$ch5-light-navbar-default-active-color: $ch5-light-warning !default;

// buttons pressed color
$ch5-light-btn-primary-pressed: #228cb9 !default;
$ch5-light-btn-default-pressed: #3f3f3f !default;
$ch5-light-btn-secondary-pressed: #2e2e70 !default;
$ch5-light-btn-success-pressed: #009e3f !default;
$ch5-light-btn-info-pressed: #007263 !default;
$ch5-light-btn-warning-pressed: #be6600 !default;
$ch5-light-btn-danger-pressed: #b12634 !default;

// ch5 gradient button color
$ch5-light-gradient-btn-peach: (#ff6d63, #ffcb71) !default;
$ch5-light-gradient-btn-purple: (#aa66cc, #f06ec6) !default;
$ch5-light-gradient-btn-blue: (#1c5099, #29abe2) !default;
$ch5-light-gradient-btn-aqua: (#00e499, #1ca3f4) !default;

// bottom navigation
$bottom-nav-bg-light: #cacaca !default;
$bottom-nav-item-bg-light: #eeeeee !default;
$bottom-nav-item-text-light: #121212 !default;
$bottom-nav-item-img-light: #121212 !default;

// container background
$ch5-examples-bg-light: #bebebe !default;

// sidebar theme
$sidebar-light-bg: rgba(#808080, 0.4) !default;
$sidebar-light-title-bg: rgba(#808080, 0.6) !default;
$sidebar-light-action-bg: rgba(#808080, 0.5) !default;
$sidebar-light-action-hover: rgba(#808080, 0.8) !default;
$sidebar-light-action-selected-color: #808080 !default;
$sidebar-light-action-selected-bg: rgba(#fff, 0.7) !default;

// lighting page
$ch5-lighting-btn-light: #696969 !default;

// music page
$music-icon-bg-light: rgba(53, 53, 53, 0.925);

// container background
$ch5-container-light-bg: $ch5-white;

// gradient animation colors
$ch5-light-gradient-animate: (
  rgba($ch5-container-light-bg, 0),
  rgba($ch5-container-light-bg, 0.3),
  rgba(#80bae8, 0),
  rgba(#7db9e8, 0)
) !default;

// news feed
$news-feed-light-bg: #efefef !default;

// routing page
$ch5-routing-btn-selected-light-bg: $ch5-light-primary !default;
$ch5-routing-btn-selected-light-color: $ch5-white !default;

// map merging
$ch5-light-theme-colors: () !default;
$ch5-light-theme-colors: map-merge(
  (
    "primary": (
      $ch5-light-primary,
      $ch5-light-btn-primary-pressed,
    ),
    "default": (
      $ch5-light-default,
      $ch5-light-btn-default-pressed,
    ),
    "secondary": (
      $ch5-light-secondary,
      $ch5-light-btn-secondary-pressed,
    ),
    "success": (
      $ch5-light-success,
      $ch5-light-btn-success-pressed,
    ),
    "info": (
      $ch5-light-info,
      $ch5-light-btn-info-pressed,
    ),
    "warning": (
      $ch5-light-warning,
      $ch5-light-btn-warning-pressed,
    ),
    "danger": (
      $ch5-light-danger,
      $ch5-light-btn-danger-pressed,
    ),
  ),
  $ch5-light-theme-colors
);

$ch5-light-gradient-buttons: () !default;
$ch5-light-gradient-buttons: map-merge(
  (
    "peach": $ch5-light-gradient-btn-peach,
    "purple": $ch5-light-gradient-btn-purple,
    "blue": $ch5-light-gradient-btn-blue,
    "aqua": $ch5-light-gradient-btn-aqua,
  ),
  $ch5-light-gradient-buttons
);

// my buttons
$gradient-btn-light: linear-gradient(
  -45deg,
  rgba(34, 34, 34, 1),
  rgba(170, 170, 170, 1)
);
$gradient-btn-pressed-light: linear-gradient(
  -45deg,
  rgb(153, 153, 153),
  rgba(34, 34, 34, 0.8)
);

.light-theme {
  // Contextual colors
  .text-primary {
    color: $ch5-light-primary !important;
  }

  .text-success {
    color: $ch5-light-success !important;
  }

  .text-warning {
    color: $ch5-light-warning !important;
  }

  .text-purple {
    color: $ch5-light-purple !important;
  }

  // navbars
  .navbar-dark {
    background-color: $ch5-light-navbar-bg;

    &.navbar-default {
      &,
      .navbar-nav {
        background-color: $ch5-light-navbar-default-bg;
      }

      .btn-link,
      .navbar-nav .nav-link {
        color: $ch5-light-navbar-default-color;
      }

      .active,
      .navbar-nav .active a {
        color: $ch5-light-navbar-default-active-color;
      }
    }
  }

  // buttons
  .ch5-button {
    @each $color, $value in $ch5-light-theme-colors {
      &--#{$color} {
        @include ch5-button-variant(
          nth($value, 1),
          nth($value, 1),
          nth($value, 2)
        );
      }
    }
  }

  // outline buttons
  .outline-button {
    border: 2px solid;

    &.ch5-button {
      @each $color, $value in $ch5-light-theme-colors {
        &--#{$color} {
          @include ch5-button-outline-variant(nth($value, 1), nth($value, 2));
        }
      }
    }
  }

  // gradient buttons
  .ch5-button {
    &.gradient-button {
      @each $color, $value in $ch5-light-gradient-buttons {
        &--#{$color} {
          @include ch5-button-gradient-variant(
            nth($value, 1),
            nth($value, 2),
            #fff
          );
        }
      }
    }
  }

  // gradient button animation bg
  .contentGlint:after {
    background: linear-gradient(
      135deg,
      nth($ch5-light-gradient-animate, 1) 0%,
      nth($ch5-light-gradient-animate, 2) 50%,
      nth($ch5-light-gradient-animate, 3) 99%,
      nth($ch5-light-gradient-animate, 4) 100%
    );
  }

  // bottom navigation
  .swiper-thumb {
    background-color: $bottom-nav-bg-light;

    .list-item {
      ch5-button .ch5-button {
        background-color: $bottom-nav-item-bg-light;
        color: $bottom-nav-item-text-light;
        fill: $bottom-nav-item-img-light;
      }

      .ch5-button--img {
        fill: $bottom-nav-item-img-light;
      }
    }
  }

  .thumb-action svg {
    fill: $ch5-light-navbar-default-active-color;
  }

  // listing page
  .list-group-item.active {
    background-color: $ch5-light-primary;
    border-color: $ch5-light-primary;
  }

  // source
  .source-list .list-item .ch5-button {
    background-color: $ch5-white;
    border-color: rgba(0, 0, 0, 0.125);
    color: $ch5-black;

    &--selected {
      background-color: #0099ff;
      border-color: #0099ff;
      color: $ch5-white;
    }
  }

  // container bg colors
  .examples-container {
    background-color: $ch5-examples-bg-light;
  }

  // sidebar theme
  .sidebar {
    background-color: $sidebar-light-bg;

    .action-group {
      color: $white;

      .title {
        background-color: $sidebar-light-title-bg;
      }

      .ch5-button {
        background-color: $sidebar-light-action-bg;

        &:hover {
          background-color: $sidebar-light-action-hover;
        }

        &.ch5-button--selected {
          background-color: $sidebar-light-action-selected-bg;
          color: $sidebar-light-action-selected-color;
        }
      }
    }

    .ch5-select__panel__items {
      .ch5-select__panel__item {
        &:hover {
          background-color: $sidebar-light-action-hover;
        }

        &.ch5-select__panel__item--selected {
          background-color: $sidebar-light-action-selected-bg;
          color: $sidebar-light-action-selected-color;
        }
      }
    }

    @include media-breakpoint-down(sm) {
      background-color: rgba(#808080, 0.9);
    }
  }
  // room list (drop down menu)
  .room-list-templ {
    .dropdown-menu {
      background-color: rgba(160, 160, 160, 0.932);
    }
    .dropdown-btn {
      border: none;
      background-color: rgba(116, 116, 116, 0.9);
      color: white;
      :focus {
        outline-color: transparent;
      }
    }
    .floors-container {
      background-color: rgb(95, 95, 95);
    }

    ch5-list {
      .list-item {
        background-color: transparent;
      }
    }
    .ch5-button {
      color: rgb(29, 29, 29);
    }
    .floors-btn {
      .ch5-button {
        background: linear-gradient(
          -45deg,
          rgba(0, 0, 0, 0.22),
          rgba(255, 255, 255, 0.25)
        );

        &.ch5-button--selected {
          box-shadow: 0px 0px 4px 2px rgb(255, 255, 255);

          background: linear-gradient(
            -45deg,
            rgba(255, 255, 255, 0.25),
            rgba(0, 0, 0, 0.22)
          );
          color: rgb(255, 255, 255);
        }
      }
    }
    .rooms-btn {
      .ch5-button {
        background-color: $ch5-lighting-btn-light;
        box-shadow: 0px -7px 11px 1px rgb(145, 145, 145);
        &.ch5-button--selected {
          color: rgb(255, 255, 255);
          font-size: 1.5rem;

          // margin-top: 0.5rem !important;
        }
      }
    }
  }

  // blinds page / shades/ blackout
  .blinds-page {
    .open-close-btn {
      .ch5-button {
        background: $gradient-btn-light;

        // background-color: $ch5-lighting-btn-light;
        box-shadow: 3px 3px 7px rgb(70, 70, 70);
      }
      .ch5-button--pressed {
        background: $gradient-btn-pressed-light;

        box-shadow: 1px 1px 3px rgb(58, 57, 57);
        transform: translateY(1px);
      }
    }

    .blackout-shades-btn {
      .ch5-button {
        background-color: transparent;
        border: none;
        color: rgba(59, 59, 59, 0.966);
        box-shadow: 3px 3px 7px rgb(48, 48, 48);
      }
      .ch5-button.ch5-button--selected {
        background: $gradient-btn-light;
        // background-color: $ch5-lighting-btn-light;
        border: none;
        color: rgb(255, 255, 255);
        box-shadow: 1px 1px 3px rgb(58, 57, 57);
        transform: translateY(2px);
      }
    }
  }

  // lighting page
  // ch5 list
  ch5-list.ch5-custom-list.dim {
    background-color: rgb(228, 226, 226);
  }
  ch5-list.ch5-custom-list {
    .ch5-button--default.ch5-button--pressed {
      background-color: $sidebar-light-action-hover;
    }

    .ch5-list-vertical > div:nth-child(odd),
    .ch5-list-horizontal > div:nth-child(odd) {
      background-color: $sidebar-light-bg;
    }

    ch5-button.lighting-button {
      .ch5-button.ch5-button--default {
        background-color: $ch5-lighting-btn-light;
      }

      & ~ ch5-button.lighting-button .ch5-button.ch5-button--default {
        background-color: transparent;
      }
    }
  }

  // slider
  .ch5-slider {
    .noUi-connect {
      background-color: $ch5-light-primary;
    }

    &.ch5-slider--orientation--vertical .noUi-target {
      background: linear-gradient(
        rgba($ch5-white, 0.05),
        rgba($ch5-black, 0.05) 33%
      );
      border-color: rgba($ch5-white, 0.07);
    }

    &.ch5-slider--orientation--horizontal .noUi-target {
      background: linear-gradient(
        to left,
        rgba($ch5-white, 0.05),
        rgba($ch5-black, 0.05) 33%
      );
      border-color: rgba($ch5-white, 0.07);
    }
  }

  // climate page
  .climate-page {
    .mode-buttons-container,
    .fan-buttons-container {
      // box-shadow: inset 3px -4px 10px rgba(68, 68, 68, 0.6);
      background-color: $ch5-light-navbar-bg;
      box-shadow: 0px 3px 9px 2px rgb(70, 70, 70);
    }
    .room-temp {
      h4 {
        color: $music-icon-bg-light;
      }
      h2,
      h3 {
        color: rgb(53, 53, 53);
      }
    }
    .plus-minus-btn {
      .ch5-button {
        background: $gradient-btn-light;
        // background-color: $ch5-lighting-btn-light;
        box-shadow: 3px 3px 7px rgb(70, 70, 70);
      }
      .ch5-button--pressed {
        background: $gradient-btn-pressed-light;
        box-shadow: none;
        // box-shadow: 1px 1px 3px rgb(58, 57, 57);
        transform: translateY(3px);
      }
    }

    .mode-buttons {
      .ch5-button {
        background: linear-gradient(-25deg, #383737, #808080);
        box-shadow: 3px 3px 7px rgb(70, 70, 70);
        opacity: 0.9;
        color: rgba(0, 0, 0, 0.856);
      }
      .ch5-button--selected {
        opacity: 1;
        color: rgb(255, 255, 255);
        transform: translateY(2px);
        box-shadow: none;
      }
    }
    .temp-container {
      border-color: #2d444e;
      background-color: #6092a8;
      box-shadow: inset -13px -8px 20px 3px rgba(63, 63, 63, 0.637);
    }

    // ON-OFF buttons (not used currently)

    // #on-btn {
    //   .ch5-button--default {
    //     background-color: rgb(74, 124, 76);
    //     opacity: 0.9;
    //   }
    //   .ch5-button--pressed {
    //     background-color: rgb(48, 105, 50);
    //   }
    //   .ch5-button--selected {
    //     background-color: rgb(73, 100, 73);
    //   }
    // }
    // #off-btn {
    //   .ch5-button--default {
    //     background-color: rgb(124, 74, 74);
    //     opacity: 0.9;
    //   }
    //   .ch5-button--pressed {
    //     background-color: rgb(105, 50, 50);
    //   }
    // }
  }

  // music page

  .music-page {
    .dropdown-btn-container {
      button {
        background-color: $ch5-lighting-btn-light;
        box-shadow: 2px 2px 6px rgb(70, 70, 70);
        color: rgb(212, 212, 212);
      }
    }
    .source-name {
      color: $music-icon-bg-light;
    }
    .main-player-container {
      background-color: $ch5-light-navbar-bg;
      box-shadow: 0px 3px 9px 2px rgb(70, 70, 70);
    }
    .artist-album-name {
      i {
        color: $music-icon-bg-light;
      }
      h2,
      h3 {
        color: rgb(53, 52, 52);
      }
      // h3 {
      //   color: $music-icon-bg-light;
      // }
    }
    .song-name-container {
      button {
        background-color: transparent;
        color: $music-icon-bg-light;
      }
    }
    .track-slider {
      span {
        color: $music-icon-bg-light;
      }
      .ch5-slider {
        // .noUi-connect {
        //   background-color: rgb(102, 145, 153);
        // }
        .noUi-handle {
          background-color: rgb(207, 207, 207);
        }
        &.ch5-slider--pressed {
          .noUi-connect {
            background-color: rgb(87, 120, 126);
          }
          .noUi-handle {
            background-color: rgb(252, 252, 252);
          }
        }
      }
    }
    .volume-slider-container {
      i {
        color: $music-icon-bg-light;
      }
      .ch5-slider {
        .noUi-connect {
          background-color: $ch5-lighting-btn-light;
          // background-color: rgb(99, 99, 99);
        }
        .noUi-handle {
          background-color: rgb(207, 207, 207);
          border: none;
        }
        &.ch5-slider--pressed {
          .noUi-connect {
            background-color: rgb(82, 82, 82);
          }
        }
      }
    }

    .song-list-sidebar {
      @include media-breakpoint-down(xs) {
        border-bottom-color: rgba(39, 39, 39, 0.842);
      }
      .song-select-features {
        background-color: rgba(32, 32, 32, 0.904);
        .ch5-button {
          color: rgba(255, 255, 255, 0.644);
          &.ch5-button--selected {
            color: $ch5-light-primary;
          }
        }
      }
      .ch5-select__panel__items {
        .ch5-select__panel__item--selected {
          background-color: $ch5-light-navbar-bg;
        }
      }

      .song-select {
        .ch5-select__panel__item {
          border-top-color: rgb(170, 170, 170);
        }
        h3,
        h4,
        h5 {
          color: rgb(63, 63, 63);
        }
      }
    }
  }

  // intercom page
  .intercom-page {
    .main-intercom-container {
      // background: transparent;
      background-color: $ch5-light-navbar-bg;
      box-shadow: 0px 3px 9px 2px rgb(70, 70, 70);
    }
    .dnd-btn-container {
      .dnd-btn {
        .ch5-button {
          background: $gradient-btn-light;
          box-shadow: 3px 3px 7px rgb(70, 70, 70);
          opacity: 1;
        }
        .ch5-button--default {
          box-shadow: none;
        }

        .ch5-button--pressed {
          background: $gradient-btn-pressed-light;
          box-shadow: none;
          opacity: 1 !important;
        }
      }
      img {
        filter: invert(20%) opacity(1);
        -webkit-filter: invert(20%) opacity(1);
      }
    }
    .phone-btn-container {
      .green-phone {
        .ch5-button {
          svg {
            fill: #006f65;
          }
        }
      }
      .red-phone {
        .ch5-button {
          svg {
            fill: #850000;
          }
        }
      }
      .lock-btn {
        .ch5-button {
          svg {
            fill: #3f3f3f;
          }
        }
      }
    }
    .volume-btn-container {
      .ch5-button {
        i {
          color: $music-icon-bg-light;
        }
      }
    }
  }

  // container background
  .main-section .theme-bg {
    background-color: $ch5-container-light-bg;
  }

  ::-webkit-scrollbar-track {
    background-color: $ch5-container-light-bg;
  }

  // heading
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    color: $ch5-headings-color-light;
  }

  .desc-title {
    color: $ch5-desc-color-light;
  }

  // routing page
  .routing-backdrop {
    .routing-hr {
      background: -webkit-gradient(
        linear,
        0 0,
        100% 0,
        from(transparent),
        to(transparent),
        color-stop(10%, $ch5-black)
      );
    }

    .routing-text {
      color: rgba($ch5-black, 1);
    }

    .routing-action-group {
      .btn-group .ch5-button {
        color: $ch5-black;

        &.ch5-button--selected {
          background-color: $ch5-routing-btn-selected-light-bg;
          color: $ch5-routing-btn-selected-light-color;
        }
      }
    }
  }

  // webservices
  .newsfeed-group .list-group-item {
    background-color: $news-feed-light-bg;
    box-shadow: 1px 3px 3px #dcdcdc;
  }
}
